<template name="layout2">
    <!-- this is an alternate and simpler navigation bar -->
    <div class="container">


        <!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
 <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="Logo" href="{{pathFor 'home'}}"><img src="http://i.imgur.com/vDdtrZY.png" alt="Logo" id = "Logo" onmouseover = "changeImg()" onmouseout = "normalImg()" height="60px" width="50px"></a>
                <script>
                function changeImg() {
                    document.getElementById("Logo").src = "http://i.imgur.com/PJhvTRd.png";
                }

                function normalImg() {
                    document.getElementById("Logo").src = "http://i.imgur.com/vDdtrZY.png";
                }

                </script>
                <style>
                    #Logo{
                        border-radius: 50%;
                        -webkit-transition: -webkit-transform .8s ease-in-out;
                        transition: transform .8s ease-in-out;
                    }

                    #Logo:hover {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                        
                    }
                </style>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" style="line-height:50px;
                                ">
                        <!--<button type="button" class="btn btn-default navbar-btn" href="{{pathFor 'login'}}">Sign in</button> -->
                        
                        {{>loginButtons}}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a id="about1" href="{{pathFor 'about'}}">About</a>
                    </li>
                    <li>
                        <a id="OurTeam1" href="{{pathFor 'team'}}">Our Team</a>
                    </li>
                    <li>
                        <a id="Quiz11" href="{{pathFor 'quiz'}}">Quiz</a>
                    </li>
                    <li>
                        <a id="Listings1" href="{{pathFor 'listings'}}">Listings</a>
                    </li>
                    <li>
                        <a id="Profile11" href="{{pathFor 'myprofile'}}">My Profile</a>
                    </li>
                    </ul>

            </div>
            <!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <!-- Here is where the actual content of the page
             gets inserted by the router! -->
        {{> yield}}

    </div>
</template>
